/******************************************************************************\
# CSS - SELECTION                                #       Maximum Tension       #
################################################################################
#                                                #      -__            __-     #
# Teoman Deniz                                   #  :    :!1!-_    _-!1!:    : #
# maximum-tension.com                            #  ::                      :: #
#                                                #  :!:    : :: : :  :  ::::!: #
# +.....................++.....................+ #   :!:: :!:!1:!:!::1:::!!!:  #
# : C - Maximum Tension :: Create - 2025/01/14 : #   ::!::!!1001010!:!11!!::   #
# :---------------------::---------------------: #   :!1!!11000000000011!!:    #
# : License - MIT       :: Update - 2025/04/09 : #    ::::!!!1!!1!!!1!!!::     #
# +.....................++.....................+ #       ::::!::!:::!::::      #
\******************************************************************************/

#SELECTION_CONTAINER
{
	           TOP: 0;
	          LEFT: 0;
	         WIDTH: 100%;
	        HEIGHT: 100%;
	       Z-INDEX: 0;
	      POSITION: ABSOLUTE;
	POINTER-EVENTS: NONE;

	-WEBKIT-FILTER: URL("#GOO_EFFECT");
	        FILTER: URL("#GOO_EFFECT");
}

.SELECTION_BOX
{
	      POSITION: ABSOLUTE;
	MIX-BLEND-MODE: UNSET;
}
